
@import "tailwindcss";
@plugin "daisyui";
:root {
  /* 定义一套看起来舒服的字体 */
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased; /* 让字体更平滑 */
  -moz-osx-font-smoothing: grayscale;
  color: #333; /* 稍微柔和一点的黑色 */
  line-height: 1.5;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 6px; /* 宽度变窄 */
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  @apply bg-base-300 rounded-full; /* 使用主题颜色 */
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  @apply bg-base-content/20;
}